---
title: dLux Services
layout: page.njk
permalink: index.html
---

<main>
  <section class="about-section marketing">
    <div class="container about-section__inner">
      <span class="about-section__image"></span>
      <span class="about-section__decorative-line"></span>
      <div class="about-section__text-container">
        <h2 id="about" class="about-section__title">Basic marketing information <span
          class="accent-color">about the company</span></h2>
        <p class="about-section__text">Basic marketing info about the company: We deliver customized cloud based
          solutions for your ideas. 20 years of high performance cloud based development experience (that’s my
          experience incl. Google and Gemini).</p>
        <a href="#request-form" class="request-button narrow">Send a request</a>
      </div>
    </div>
  </section>

  <section class="services-section services">
    <div class="container services-section__inner wrapper">
      <h2 class="services-section__title section-header" id="services">Services</h2>
      <span class="services-section__decorative-line"></span>
      <ul class="services-section__services-list nobullet">
        <li class="services-section__item">
          <strong class="services-section__item-title">Cloud based development</strong>
          <p class="services-section__item-text">Develop an app for your project: web and mobile apps for your custom
            business needs on Amazon Web Services, Google Cloud Platform or your private cloud.</p>
          <a href="#request-form" class="request-button">Send a request</a>
        </li>

        <li class="services-section__item">
          <strong class="services-section__item-title">Remote development teams</strong>
          <p class="services-section__item-text">Manage and improve your services with a dedicated development team that
            covers all functions. You only need to define the tasks and priorities, we are doing the rest.</p>
          <a href="#request-form" class="request-button">Send a request</a>
        </li>

        <li class="services-section__item">
          <strong class="services-section__item-title">Infrastructure management</strong>
          <p class="services-section__item-text">We monitor your services and keep them running 24/7</p>
          <a href="#request-form" class="request-button">Send a request</a>
        </li>
      </ul>
    </div>
  </section>


  <section class="founder-section founder">
    <div class="container founder-section__inner wrapper">

      <div class="founder-section__green-blur"></div>
      <h2 id="founder" class="founder-section__title section-header">Founder</h2>
      <span class="decorative-line-founder"></span>
      <p class="founder-section__text">Balazs, 20 years experience in cloud development, leader and contributor of many
        projects with billions of users as a senior Google</p>
      <div class="clouds-wrapper">
        <div class="clouds"></div>
      </div>
      <div class="founder-section__img-wrapper">
        <picture>
          <source media="(max-width: 899px)"
                  type="image/webp"
                  srcset="images/founder_mobile1x.webp 1x, images/founder_mobile2x.webp 2x, images/founder_mobile3x.webp 3x"
                  width="288" height="180"
          />
          <source media="(min-width: 900px)"
                  type="image/webp"
                  srcset="images/founder_desktop1x.webp 1x, images/founder_desktop2x.webp 2x, images/founder_desktop3x.webp 3x"
                  width="500" height="419"
          />
          <source media="(max-width: 899px)"
                  type="image/jpeg"
                  srcset="images/founder_mobile1x.jpg 1x, images/founder_mobile2x.jpg 2x, images/founder_mobile3x.jpg 3x"
                  width="288" height="180"
          />
          <source media="(min-width: 900px)"
                  type="image/jpeg"
                  srcset="images/founder_desktop1x.jpg 1x, images/founder_desktop2x.jpg 2x, images/founder_desktop3x.jpg 3x"
                  width="500" height="419"
          />

          <img src="images/founder_desktop1x.jpg"
               alt="Balazs"
               loading="lazy"/>
        </picture>
      </div>
    </div>
  </section>


  <section class="contacts-section contacts">
    <div class="container contacts-section__inner">
      <div class="contacts-section__info-wrapper contact-info-wrapper" id="contacts">
        <h2 class="contacts-section__title section-header">Contacts</h2>
        <a href="mailto:1@dlux.services" class="contacts-section__link accent-font notextdecoration">1@dlux.services</a>
        <a href="tel:+118143511265" class="contacts-section__link accent-font notextdecoration">+118143511265</a>

      </div>
      <form action="#" method="post" name="request-form" id="request-form" class="request-form">
        <fieldset class="request-form__inner slim-font">
          <legend class="request-form__title">
            Send <span class="accent-color">a request</span>
          </legend>
          <div class="request-form__floating-labels">
            <input type="text" name="name-field" id="name-field" placeholder="Name" class="request-form__input"/>
            <label for="name-field" class="request-form__label request-form__label_floating">Name</label>
            <input type="text" name="company-field" id="company-field" placeholder="Company"
                   class="request-form__input"/>
            <label for="company-field" class="request-form__label request-form__label_floating">Company</label>
            <input type="tel" name="phone-field" id="phone-field" placeholder="Callback phone number"
                   class="request-form__input"/>
            <label for="phone-field" class="request-form__label request-form__label_floating">Callback phone
              number</label>
            <input type="text" onfocus="(this.type='datetime-local')" onblur="(this.type='text')" name="datetime-field"
                   id="datetime-field" placeholder="When is a good time to call" class="request-form__input"/>
            <!-- https://www.geeksforgeeks.org/how-to-set-placeholder-value-for-input-type-date-in-html-5/ -->
            <label for="datetime-field"
                   class="request-form__label request-form__label_floating request-form__label_calendar label-with-calendar">When
              is a good
              time to
              call</label>
            <input type="email" name="email-field" id="email-field" placeholder="Email" class="request-form__input"
                   required/>
            <label for="email-field" class="request-form__label request-form__label_floating">Email</label>
            <input type="text" name="what-field" id="what-field" placeholder="What can we help you with?"
                   class="request-form__input"/>
            <label for="what-field" class="request-form__label request-form__label_floating">What can we help you
              with?</label>
          </div>
          <select name="origin-field" id="origin-field" class="request-form__select" required>
            <option value="" class="request-form__option" disabled selected>How did you find us?</option>
            <option value="Friends" class="request-form__option">Friends</option>
            <option value="Search" class="request-form__option">Search</option>
            <option value="Social media" class="request-form__option">Social media</option>
            <option value="Other" class="request-form__option">Other</option>
          </select>
          <label for="origin-field" class="request-form__label_no-floating">How did you find us?</label>
          <input type="checkbox" name="pers-data-field" id="pers-data-field" class="request-form__checkbox" checked/>
          <label for="pers-data-field" class="request-form__label_checkbox">I agree with the personal data processing
            policy</label>
          <button class="request-form__button request-button narrow" type="submit">Send a request</button>
        </fieldset>
      </form>
    </div>
  </section>
</main>
