---
title: dLux Services
layout: page.njk
permalink: index.html
---

<main>
  <section class="section-about marketing">
    <div class="container section-about__inner">
      <span class="section-about__image"></span>
      <span class="section-about__decorative-line"></span>
      <div class="section-about__text-container">
        <h2 id="about" class="section-about__title">Basic marketing information <span
          class="accent-color">about the company</span></h2>
        <p class="section-about__text">Basic marketing info about the company: We deliver customized cloud based
          solutions for your ideas. 20 years of high performance cloud based development experience (that’s my
          experience incl. Google and Gemini).</p>
        <a href="#request-form" class="button narrow">Send a request</a>
      </div>
    </div>
  </section>

  <section class="section-services services">
    <div class="container section-services__inner">
      <h2 class="section-services__title section-header" id="services">Services</h2>
      <span class="section-services__decorative-line"></span>
      <ul class="section-services__services-list nobullet">
        <li class="section-services__item">
          <strong class="section-services__item-title">Cloud based development</strong>
          <p class="section-services__item-text">Develop an app for your project: web and mobile apps for your custom
            business needs on Amazon Web Services, Google Cloud Platform or your private cloud.</p>
          <a href="#request-form" class="button section-services__button">Send a request</a>
        </li>

        <li class="section-services__item">
          <strong class="section-services__item-title">Remote development teams</strong>
          <p class="section-services__item-text">Manage and improve your services with a dedicated development team that
            covers all functions. You only need to define the tasks and priorities, we are doing the rest.</p>
          <a href="#request-form" class="button section-services__button">Send a request</a>
        </li>

        <li class="section-services__item">
          <strong class="section-services__item-title">Infrastructure management</strong>
          <p class="section-services__item-text">We monitor your services and keep them running 24/7</p>
          <a href="#request-form" class="button section-services__button">Send a request</a>
        </li>
      </ul>
    </div>
  </section>


  <section class="section-founder founder">
    <div class="container section-founder__inner">

      <div class="section-founder__green-blur"></div>
      <h2 id="founder" class="section-founder__title section-header">Founder</h2>
      <span class="section-founder__decorative-line"></span>
      <p class="section-founder__text">Balazs, 20 years experience in cloud development, leader and contributor of many
        projects with billions of users as a senior Google</p>
      <div class="clouds-wrapper">
        <div class="clouds"></div>
      </div>
      <div class="section-founder__img-wrapper">
        <picture>
          <source media="(max-width: 899px)"
                  type="image/webp"
                  srcset="images/founder_mobile1x.webp 1x, images/founder_mobile2x.webp 2x, images/founder_mobile3x.webp 3x"
                  width="288" height="180"
          />
          <source media="(min-width: 900px)"
                  type="image/webp"
                  srcset="images/founder_desktop1x.webp 1x, images/founder_desktop2x.webp 2x, images/founder_desktop3x.webp 3x"
                  width="500" height="419"
          />
          <source media="(max-width: 899px)"
                  type="image/jpeg"
                  srcset="images/founder_mobile1x.jpg 1x, images/founder_mobile2x.jpg 2x, images/founder_mobile3x.jpg 3x"
                  width="288" height="180"
          />
          <source media="(min-width: 900px)"
                  type="image/jpeg"
                  srcset="images/founder_desktop1x.jpg 1x, images/founder_desktop2x.jpg 2x, images/founder_desktop3x.jpg 3x"
                  width="500" height="419"
          />

          <img src="images/founder_desktop1x.jpg"
               alt="Balazs" class="section-founder__img"
               loading="lazy"/>
        </picture>
      </div>
    </div>
  </section>


  <section class="section-contacts contacts">
    <div class="container section-contacts__inner">
      <div class="section-contacts__info-wrapper contact-info-wrapper" id="contacts">
        <h2 class="section-contacts__title section-header">Contacts</h2>
        <a href="mailto:1@dlux.services" class="section-contacts__link accent-font notextdecoration">1@dlux.services</a>
        <a href="tel:+118143511265" class="section-contacts__link accent-font notextdecoration">+118143511265</a>

      </div>
      <form action="#" method="post" name="request-form" id="request-form" class="form section-contacts__form">
        <fieldset class="form__inner slim-font">
          <legend class="form__title">
            Send <span class="accent-color">a request</span>
          </legend>
          <div class="form__floating-labels">
            <input type="text" name="name-field" id="name-field" placeholder="Name" class="form__input input"/>
            <label for="name-field" class="form__label form__label_floating">Name</label>
            <input type="text" name="company-field" id="company-field" placeholder="Company"
                   class="form__input input"/>
            <label for="company-field" class="form__label form__label_floating">Company</label>
            <input type="tel" name="phone-field" id="phone-field" placeholder="Callback phone number"
                   class="form__input input"/>
            <label for="phone-field" class="form__label form__label_floating">Callback phone
              number</label>
            <input type="text" onfocus="(this.type='datetime-local')" onblur="(this.type='text')" name="datetime-field"
                   id="datetime-field" placeholder="When is a good time to call"
                   class="form__input input form__input_with-calendar"/>
            <!-- https://www.geeksforgeeks.org/how-to-set-placeholder-value-for-input-type-date-in-html-5/ -->
            <label for="datetime-field"
                   class="form__label form__label_floating form__label_calendar label-with-calendar">When
              is a good
              time to
              call</label>
            <input type="email" name="email-field" id="email-field" placeholder="Email" class="form__input input"
                   required/>
            <label for="email-field" class="form__label form__label_floating">Email</label>
            <input type="text" name="what-field" id="what-field" placeholder="What can we help you with?"
                   class="form__input input"/>
            <label for="what-field" class="form__label form__label_floating">What can we help you
              with?</label>
          </div>
          <select name="origin-field" id="origin-field" class="form__select select" required>
            <option value="" class="form__option form__option_pseudo-label" disabled selected>How did you find us?
            </option>
            <option value="Friends" class="form__option">Friends</option>
            <option value="Search" class="form__option">Search</option>
            <option value="Social media" class="form__option">Social media</option>
            <option value="Other" class="form__option">Other</option>
          </select>
          <label for="origin-field" class="form__label_no-floating">How did you find us?</label>
          <input type="checkbox" name="pers-data-field" id="pers-data-field" class="form__checkbox" checked/>
          <label for="pers-data-field" class="form__label_checkbox">I agree with the personal data processing
            policy</label>
          <button class="form__button button narrow" type="submit">Send a request</button>
        </fieldset>
      </form>
    </div>
  </section>
</main>
