---
title: Website Terms of Use
layout: legalpage.njk
permalink: terms.html
---


<main>
  <div class="container legalpage__container">
    <section class="legalpage legal-section">
      <h1 class="legalpage__title accent-font">Website Terms of Use</h1>
      <p>This page will have our Terms of Use.</p>
      <h2 class="legalpage__subtitle accent-font">Contact Us</h2>
      <p>If you have any questions or suggestions about our Terms of Use, do not hesitate to contact us.</p>
    </section>
  </div>
</main>
