        <footer class="footer-nav">
            <div class="wrapper footer-wrapper">
                <div class="footer-top">
                    <ul class="footer-menu-list nobullet">
                        <li class="menu-item"><a href="/index.html#about">About</a></li>
                        <li class="menu-item"><a href="/index.html#services">Services</a></li>
                        <li class="menu-item"><a href="/index.html#founder">Founder</a></li>
                        <li class="menu-item"><a href="/index.html#contacts">Contacts</a></li>
                    </ul>

                    <div class="footer-social">
                        <strong class="social-media-title accent-font">Social media</strong>
                        <div class="social-icons">
                            <a href="#" class="button-social">
                                <svg class="icon-social icon_facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12">
                                    <use href="{{ '/assets/sprite.svg#icon_facebook' | url }}" />
                                </svg>
                            </a>
                            <a href="#" class="button-social">
                                <svg class="icon-social icon_instagram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12">
                                    <use href="{{ '/assets/sprite.svg#icon_instagram' | url }}" />
                                </svg>
                            </a>                            
                            <a href="#" class="button-social">
                                <svg class="icon-social icon_facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12">
		    <use href="{{ '/assets/sprite.svg#icon_twitter' | url }}" />
                                </svg>
                            </a>
                            <a href="#" class="button-social">
                                <svg class="icon-social icon_linkedin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12">
		    <use href="{{ '/assets/sprite.svg#icon_linkedin' | url }}" />
                                </svg>
                            </a>
                            <a href="#" class="button-social">
                                <svg class="icon-social icon_telegram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12">
		    <use href="{{ '/assets/sprite.svg#icon_telegram' | url }}" />
                                </svg>
                            </a>                            
                            <a href="#" class="button-social">
                                <svg class="icon-social icon_whatsapp" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12">
		    <use href="{{ '/assets/sprite.svg#icon_whatsapp' | url }}" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="footer-legal accent-color">
                    <a href="../privacy/" class="legal-link">Privacy Policy</a>
                    <a href="../pers_data/" class="legal-link">Rules for the processing of personal data</a>
                    <a href="../terms/" class="legal-link">Website Terms of Use</a>
                    <!-- в дизайне для мобильных только одна из этих строчек, а не все три. Думаю, что это ошибка и все три нужны. Но если я неправа, легко добавить visually-hidden -->
                </div>
                         
                <a class="logo-link" href="#about">
                
                    <picture>
                        <source media="(max-width: 899px)" 
                            srcset="images/logo_footer_mobile1x.png 1x, images/logo_footer_mobile2x.png 2x, images/logo_footer_mobile1x.png 3x" 
                            width="218" height="109" 
                            />
                        <source media="(min-width: 900px)" 
                            srcset="images/logo_footer_desktop1x.png 1x, images/logo_footer_desktop2x.png 2x, images/logo_footer_desktop3x.png 3x" 
                            width="249" height="125" 
                            />
                    
                        <img src="images/logo_footer_desktop1x.png" 
                            alt="dLux Services" 
                            class="logo-img" 
                            loading="lazy" 
                            />

                    </picture>
                </a>

                <div class="footer-slogan">
                    <b class="footer-slogan-text accent-font">20 years of high performance <span class="accent-color">cloud based development</span> experience</b>
                </div>
                <!--  <p class="copyright visually-hidden">&copy;2022 Created by Upline Studio</p>-->
            </div>
        </footer>
