
        <header id="main-header" class="header">
            <div class="container header__inner">

	    {% include 'utils/header_top.njk' %}

                <section class="hero-section">
                    <h1 class="hero-section__title">Cloud software development</h1>
                    <ul class="hero-section__list nobullet">
                        <li class="hero-section__item">Websites, mobile applications</li>
                        <li class="hero-section__item">Remote development teams</li>
                        <li class="hero-section__item">Cloud Infrastructure Management</li>
                    </ul>
                    <a href="#request-form" class="request-button narrow">Send a request</a>

                </section>
            </div>
        </header>
