
        <header id="main-header">
            <div class="wrapper header-wrapper">
                <section class="header-top">
                    <a class="logo-link" href="#about">
                        <picture>
                            <source media="(max-width: 899px)" 
                                srcset="images/logo_header_mobile1x.png 1x, images/logo_header_mobile2x.png 2x, images/logo_header_mobile1x.png 3x" 
                                width="114" height="75" 
                                />
                            <source media="(min-width: 900px)" 
                                srcset="images/logo_header_desktop1x.png 1x, images/logo_header_desktop2x.png 2x, images/logo_header_desktop3x.png 3x" 
                                width="159" height="104" 
                                />
                        
                            <img src="images/logo_header_desktop1x.png" 
                               alt="dLux Services" 
                                class="logo-img" 
                                />

                        </picture>
                    </a>
                        
                    <nav class="header-nav">
                        <a class="menu-logo-link mobile-only" id="toggle">
                            <img src="images/icon_menu.svg" alt="Menu" 
                                class="menu-logo-img mobile-only"
                                width="14" height="10" />
                            <!-- "icon_exit_menu.svg" replaces it through js --> 
                        </a>
                                        
                        <ul class="header-menu-list nobullet">
                                <li class="flyout-only menu-flyout-title accent-font">Menu</li>
                                <li class="menu-item"><a href="#about">About</a></li>
                                <li class="menu-item"><a href="#services">Services</a></li>
                                <li class="menu-item"><a href="#founder">Founder</a></li>
                                <li class="menu-item"><a href="#contacts">Contacts</a></li>
                                <li class="flyout-only menu-flyout-contact email accent-font"><a href="mailto:1@dlux.services">1@dlux.services</a></li>
                                <li class="flyout-only menu-flyout-contact phone accent-font"><a href="tel:+118143511265">+118143511265</a></li>
                        </ul>
                    </nav>
                </section>

                <section class="about">
                    <h1 class="title">Cloud software development</h1>
                    <ul class="nobullet">
                        <li>Websites, mobile applications</li>
                        <li>Remote development teams</li>
                        <li>Cloud Infrastructure Management</li>
                    </ul>
                    <a href="#request-form" class="request-button narrow">Send a request</a>

                </section>
            </div>
        </header>
