  <section class="section-contacts contacts">
    <div class="container section-contacts__inner">
      <div class="section-contacts__info-wrapper contact-info-wrapper" id="contacts">
        <h2 class="section-contacts__title section-header accent-font">Contacts</h2>
        <a href="mailto:1@dlux.services" class="section-contacts__link accent-font notextdecoration">1@dlux.services</a>
        <a href="tel:+118143511265" class="section-contacts__link accent-font notextdecoration">+118143511265</a>

      </div>

    {% include 'components/form.njk' %}

    </div>
  </section>

