  <section class="section-about marketing">
    <div class="container section-about__inner">
      <span class="section-about__image"></span>
      <span class="section-about__decorative-line"></span>
      <div class="section-about__text-container">
        <h2 id="about" class="section-about__title accent-font">Basic marketing information <span
          class="accent-color">about the company</span></h2>
        <p class="section-about__text">Basic marketing info about the company: We deliver customized cloud based
          solutions for your ideas. 20 years of high performance cloud based development experience (that’s my
          experience incl. Google and Gemini).</p>
        <a href="#request-form" class="button narrow">Send a request</a>
      </div>
    </div>
  </section>
