  <section class="section-founder founder">
    <div class="container section-founder__inner">

      <div class="section-founder__green-blur"></div>
      <h2 id="founder" class="section-founder__title section-header accent-font">Founder</h2>
      <span class="section-founder__decorative-line"></span>
      <p class="section-founder__text">Balazs, 20 years experience in cloud development, leader and contributor of many
        projects with billions of users as a senior Google</p>
      <div class="clouds">
        <div class="clouds__inner"></div>
      </div>
      <div class="section-founder__img-wrapper">
        <picture>
          <source media="(max-width: 899px)"
                  type="image/webp"
                  srcset="images/founder_mobile1x.webp 1x, images/founder_mobile2x.webp 2x, images/founder_mobile3x.webp 3x"
                  width="288" height="180"
          />
          <source media="(min-width: 900px)"
                  type="image/webp"
                  srcset="images/founder_desktop1x.webp 1x, images/founder_desktop2x.webp 2x, images/founder_desktop3x.webp 3x"
                  width="500" height="419"
          />
          <source media="(max-width: 899px)"
                  type="image/jpeg"
                  srcset="images/founder_mobile1x.jpg 1x, images/founder_mobile2x.jpg 2x, images/founder_mobile3x.jpg 3x"
                  width="288" height="180"
          />
          <source media="(min-width: 900px)"
                  type="image/jpeg"
                  srcset="images/founder_desktop1x.jpg 1x, images/founder_desktop2x.jpg 2x, images/founder_desktop3x.jpg 3x"
                  width="500" height="419"
          />

          <img src="images/founder_desktop1x.jpg"
               alt="Balazs" class="section-founder__img"
               loading="lazy"/>
        </picture>
      </div>
    </div>
  </section>
