  <section class="section-services services">
    <div class="container section-services__inner">
      <h2 class="section-services__title section-header accent-font" id="services">Services</h2>
      <span class="section-services__decorative-line"></span>
      <ul class="section-services__services-list nobullet">
        <li class="section-services__item">
          <strong class="section-services__item-title accent-font">Cloud based development</strong>
          <p class="section-services__item-text">Develop an app for your project: web and mobile apps for your custom
            business needs on Amazon Web Services, Google Cloud Platform or your private cloud.</p>
          <a href="#request-form" class="button section-services__button">Send a request</a>
        </li>

        <li class="section-services__item">
          <strong class="section-services__item-title accent-font">Remote development teams</strong>
          <p class="section-services__item-text">Manage and improve your services with a dedicated development team that
            covers all functions. You only need to define the tasks and priorities, we are doing the rest.</p>
          <a href="#request-form" class="button section-services__button">Send a request</a>
        </li>

        <li class="section-services__item">
          <strong class="section-services__item-title accent-font">Infrastructure management</strong>
          <p class="section-services__item-text">We monitor your services and keep them running 24/7</p>
          <a href="#request-form" class="button section-services__button">Send a request</a>
        </li>
      </ul>
    </div>
  </section>
