.founder {
		.wrapper {
			display: flex;
			position: relative;
			flex-direction: column;
			padding: 0 16px;
		}
	}
.green-blur {
  display: block;
  width: max(68px, calc(68px + 68 * (100vw - 1200px) / 300));
  max-width: 136px;
  
  width: 84px;
  height: 136px;
  background: #66DD8D;
  opacity: 0.4;
  filter: blur(50px);
  position: absolute;
  top: 116px;
  right: 0px;
  z-index: -3; 
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.founder h2 {
  font-size: 3rem;
  line-height: 0.9;
  margin-top: 58px;
  margin-bottom: 8px;
  position: relative;
}

.founder p {
  margin-bottom: 24px;
  width: 90%;
}

.clouds-wrapper {
  overflow-x: hidden;
  width: min(100vw, 1200px);
  position: absolute;
  height: 950px;
  margin: 0 auto;
  left: 0;
}

.clouds {
  background: url('../images/bkgr_contacts_white-clouds.png') no-repeat center;
  display: block;
  position: absolute;
  background-size: cover;
  width: 1021px;
  height: 539px;
  left: -300px;
  top: 300px;
  overflow-x: hidden;
  opacity: 0.7;
  transform: rotate(21.85deg);
}

.img-wrapper {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  text-align: center;
}

.founder img {
  max-width: 100%;
  height: auto;
  border-radius: 24px;
  position: relative;
  z-index: 2;
}

	  
@media screen and (min-width: 900px) {
  .founder .wrapper {
    	flex-direction: row;
		padding: 0 30px; }

	  .green-blur {
    width: max(180px, calc(70px + 250 * (100vw - 1200px) / 400));
    max-width: 320px;
    height: 320px;
    filter: blur(130px);
    position: absolute;
    top: 260px;
    right: clamp(-250px, calc(0px - 250 * (100vw - 1200px) / 500), 0px);
    border-radius: 50%;    
  } 

  .founder h2 {
    margin-top: 293px;
    margin-bottom: 21px;
    margin-left: 48px;
    order: 2;
    font-size: min(128px, calc(81px + 47 * (42vw - 360px) / 195));
  }

  .decorative-line-founder {
    content: url(../images/decorative_3founder_desktop.svg);
    position: absolute;
    top: calc(293px + 23%);
    left: min(calc(290px + (470 - 290) * (100vw - 900px) / (1200 - 900)), 470px);
  }

  .founder p {
    order: 3;
    margin-left: -280px;
    margin-top: 431px;
  }

  .clouds-wrapper {
    height: 1400px;
  }

    .clouds {
    width: 1351px;
    height: 713px;
    left: -444px;
    top: 545px;
    transform: none;
    opacity: 1;
  }

  .img-wrapper {
    min-width: 44%;
    margin-top: 200px;
    order: 1;
  }

  .founder img {
    width: auto;
    height: auto;
  }

}