.footer {
  background: url('~/images/symbol_white2_footer_mobile.png') #081d31 no-repeat
    center;
  background-size: contain;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 16px;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 52px;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__menu-item {
    margin-bottom: 8px;

    &:hover,
    &:active,
    &:focus {
      color: #66dd8d;
    }
  }

  &__social {
    max-width: 40%;
  }

  &__social-media-title {
    margin-bottom: 8px;
    color: #f4f4f4;
    font-size: 16px;
    line-height: 1.5;
  }

  &__social-icons {
    display: flex;
    flex-wrap: wrap;
  }

  &__button-social {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-bottom: 8px;
    background: #315bef no-repeat center;
    border-radius: 50%;

    &:hover,
    &:focus,
    &:active {
      transform: scale(1.2);
      transition: all 0.3s;
    }

    &:active {
      border: 2px solid #fff;
    }
  }

  &__legal-links-container {
    width: 100%;
    margin-bottom: 51px;
  }

  &__legal-link {
    display: block;
    margin-bottom: 8px;
    color: inherit;
    font-size: 14px;
    line-height: 1.36;

    &:hover,
    &:active,
    &:focus {
      color: #f4f4f4;
    }
  }

  &__logo-link {
    margin-bottom: 32px;
    color: #fff;
    text-decoration: none;
  }

  &__slogan-container {
    margin-bottom: 16px;
  }

  &__slogan-text {
    color: #f4f4f4;
    font-size: 24px;
    line-height: 1.5;
  }

  @media screen and (min-width: 900px) {
    background: url('~/images/symbol_white1_footer_desktop.png') #081d31
      no-repeat center;
    background-size: contain;

    &__inner {
      align-content: space-between;
      align-items: center;
      padding: 0 30px;
    }

    &__top {
      margin-top: 32px;
      margin-bottom: 169px;
    }

    &__menu-item {
      display: inline-block;
      margin-right: 32px;
    }

    &__social-media-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 1.5;
      text-align: right;
    }

    &__button-social {
      width: 48px;
      height: 48px;
    }

    &__icon-social {
      width: 24px;
      height: 24px;
    }

    &__logo-link {
      order: 2;
    }

    &__slogan-container {
      order: 3;
      width: 396px;
    }

    &__legal-links-container {
      order: 4;
      width: auto;
      margin-bottom: 48px;
    }
  }
}
