.request-form__input,
.request-form__select {
  color: #66dd8d;
  font-size: 16px;
  font-family: Manrope, Arial, sans-serif;
}

.request-form__input:focus,
.request-form__select:focus,
.request-form__input:focus-visible,
.request-form__select:focus-visible {
  border-color: transparent;
  outline: #66dd8d 1px solid;
  box-shadow: 0 0 2px 0 #fff, 0 0 6px 4px #66dd8d;
  transition: all 0.3s;
}

@media screen and (min-width: 900px) {
  .request-form__input,
  .request-form__select {
    font-size: 24px;
    font-family: Oxygen, Tahoma, sans-serif;
  }
}
