.header {
  background-color: rgb(17 43 69 / 80%);
  background-image: url('~/images/mask_bg_about_mobile.png'),
    url('~/images/bkgr_about_mobile.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
  transition-duration: 5ms;

  &__inner {
    padding: 0 1rem;

    &:not(.no-background) {
      min-height: 100vh;
    }
  }

  &__top {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__logo-img {
    margin-top: 8px;
  }

  &__icon-menu-link {
    display: inline-block;
    padding: 12px;
  }

  &__icon-menu-img {
    margin-top: 40px;
    margin-right: 4px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.no-background {
  min-height: auto;
  background-image: none;
}

.flyout-only,
.header__desktop-menu {
  display: none;
}

/* flyout styles */

.flyout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
  background: #112b45;

  &__item {
    width: 100%;
    height: 53px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 22px;
    text-align: left;
  }

  &__title {
    font-weight: 700;
    font-size: 1rem;
    line-height: 0.94;
    text-align: center;
    background: #315bef;
  }

  &__contact {
    font-size: 1rem;
    line-height: 1.5;

    &_email {
      display: flex;
      align-items: flex-end;
      min-height: 250px;
      padding-bottom: 0;
    }

    &_phone {
      align-self: flex-end;
    }
  }

  .header__menu-item:not(:first-child) {
    border-top: solid 1px rgb(255 255 255 / 17%);
  }
}

/* end of flyout styles */

.header__menu-item a:hover,
.header__menu-item a:active,
.header__menu-item a:focus {
  color: #66dd8d;
}

.hero-section {
  &__title {
    margin-bottom: 18px;
    padding-top: calc(48vh - 83px);
    font-size: 2rem;
    line-height: 0.9;
  }

  &__item {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 26px;
    }

    &::before {
      display: inline-block;
      padding-right: 18px;
      vertical-align: middle;
      content: url('~/images/Icon_Octagon_Check-min.svg');
    }
  }
}

@media screen and (min-width: 900px) {
  .header {
    background-image: url('~/images/mask_bg_about_mobile.png'),
      url('~/images/bkgr_about_desktop.jpg');

    &__inner {
      padding: 0 2rem;
    }

    &__desktop-menu {
      display: inline-flex;
      flex-wrap: wrap;
      margin-top: 21px;
    }

    &__menu-item {
      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }

  .no-background {
    min-height: auto;
    background-image: none;
  }

  .hero-section__title {
    margin: 0;
    margin-bottom: 26px;
    padding-top: calc((100vh - 254px) / 2 - 112px);
    font-size: 2.25rem;
    line-height: 1.5;
  }

  .hero-section__item:last-child {
    margin-bottom: 34px;
  }
}
