.header {
  background-color: rgb(17 43 69 / 80%);
  background-image: url('~/images/mask_bg_about_mobile.png'),
    url('~/images/bkgr_about_mobile.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
  transition-duration: 5ms;

  &__inner {
    padding: 0 16px;

    &:not(.no-background) {
      min-height: 100vh;
    }
  }

  &__top {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__logo-img {
    margin-top: 8px;
  }

  &__icon-menu-link {
    display: inline-block;
    padding: 12px;
  }

  &__icon-menu-img {
    margin-top: 40px;
    margin-right: 4px;
  }

  &__desktop-menu {
    display: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  &__menu-item {
    a:hover,
    a:active,
    a:focus {
      color: #66dd8d;
    }
  }
}

.no-background {
  min-height: auto;
  background-image: none;
}

@media screen and (min-width: 900px) {
  .header {
    background-image: url('~/images/mask_bg_about_mobile.png'),
      url('~/images/bkgr_about_desktop.jpg');

    &__inner {
      padding: 0 32px;
    }

    &__desktop-menu {
      display: inline-flex;
      flex-wrap: wrap;
      margin-top: 21px;
    }

    &__menu-item {
      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }

  .no-background {
    min-height: auto;
    background-image: none;
  }
}
