.hero-section {
  &__title {
    margin-bottom: 18px;
    padding-top: calc(48vh - 83px);
    font-size: 32px;
    line-height: 0.9;
  }

  &__item {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 26px;
    }

    &::before {
      display: inline-block;
      padding-right: 18px;
      vertical-align: middle;
      content: url('~/images/Icon_Octagon_Check-min.svg');
    }
  }

  @media screen and (min-width: 900px) {
    &__title {
      margin: 0 0 26px; //bottom margin
      padding-top: calc((100vh - 254px) / 2 - 112px);
      font-size: 36px;
      line-height: 1.5;
    }

    &__item {
      &:last-child {
        margin-bottom: 34px;
      }
    }
  }
}
