.legalpage {
  display: block;
  max-width: 895px;
  margin-top: 32px;
  margin-bottom: 64px;
  color: #d4d4d4;

  &__container {
    padding: 0 16px;
  }

  h1 {
    margin-bottom: 24px;
    color: #fff;
    font-size: 24px;
    line-height: 0.9;
  }

  h2 {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    font-family: Oxygen, Tahoma, sans-serif;
    line-height: 1.25;
  }

  p {
    margin-bottom: 16px;
  }

  ul {
    margin-bottom: 24px;
    margin-left: 24px;
  }

  li {
    margin-bottom: 8px;
  }

  a {
    color: inherit;
  }

  @media screen and (min-width: 900px) {
    &__container {
      padding: 0 30px;
    }
  }
}
