.about-section {
		margin-top: 64px;
    &__inner {
      position: relative;
    }
    &__image {
      display: block;
      background: url('~/images/bkgr_marketing.jpg') #112B45 no-repeat center; 
      background-size: cover;
      min-height: 160px;
      border-radius: 300px;
      position: relative;
      margin: 0 16px;
      margin-bottom: 24px;
        
        &::before, &::after {
          content: "";
          display: block;
          background: linear-gradient(267.74deg, #315BEF 3.51%, #66DD8D 98.41%);
          background-size: cover;
          filter: blur(16px);
          border-radius: 220px;
          width: 95%;
          min-height: 128px;
          position: absolute;
          top: -8px;
          left: 2.5%;
          z-index: -1;
        }
    }
    &__decorative-line {
          content: url(~/images/decorative_1about_mobile.svg);
          position: absolute;
          top: -40px;
          right: 0px;
        }
    &__text-container {
          margin: 0 16px;
        }
    &__title {
      font-size: 2rem;
      line-height: 0.9;
      margin-bottom: 16px;
      max-width: 22ch;
    }
    &__text {
      position: relative;
      margin-bottom: 24px;
    }
    @media screen and (min-width: 900px) {
      /* animation is in its own partial */ 
      
    margin-top: 120px;
          &__image {
            min-height: 362px;
            border-radius: 220px;
            margin: 0 30px;
            margin-bottom: -24px;
            position: relative;
              &::before, &::after  {
              min-height: 281px;
              top: -11px;
              background: linear-gradient(var(--angle-rotate), #315BEF 3.51%, #66DD8D 98.41%);
              animation: spin 2s linear infinite;
              filter: blur(32px);
              }
          }
          &__decorative-line {
            content: url(~/images/decorative_1about_desktop.svg);
            top: 297px;
            right: 29px;
            z-index: -6;
          }
          &__text-container {
            margin-left: 124px;
            margin-right: auto;
          }
          &__title {
            margin-bottom: 24px;
            margin-top: 0px;
            z-index: 3;
            font-size: 4rem;
            position: relative;
          }
          &__text {
            margin-bottom: 32px;
            max-width: min(35vw, 423px);
            display: block;
            }
  }

}
