.section__title {
  /* this is h2 for services, founder and contacts */
  font-size: 48px;
  line-height: 0.9;
}

.services-section {
  &__inner {
    position: relative;
    padding: 0 16px;
  }

  &__title {
    position: relative;
    margin-top: 58px;
    margin-bottom: 16px;

    &::before {
      position: absolute;
      top: -130px;
      left: -68px;
      z-index: -3;
      width: 136px;
      height: 136px;
      background: #66dd8d;
      opacity: 0.4;
      filter: blur(50px);
      content: '';
    }
  }

  &__decorative-line {
    position: absolute;
    top: 13px;
    right: 8px;
    z-index: -1;
    content: url('~/images/decorative_2services_mobile.svg');
  }

  &__services-list {
    display: grid;
    gap: 24px;
  }

  &__item {
    width: 100%;
    padding: 16px;
    background: rgb(25 63 102 / 32%);
    border-radius: 24px;
    backdrop-filter: blur(16px);

    &:nth-child(1) strong::before {
      width: 24px;
      height: 32px;
      padding-left: 12px;
      content: url('~/images/services1_data.svg');
    }

    &:nth-child(2) strong::before {
      width: 36px;
      height: 32px;
      padding-left: 6px;
      content: url('~/images/services2_window.svg');
    }

    &:nth-child(3) strong::before {
      width: 32px;
      height: 32px;
      padding-top: 6px;
      padding-left: 6px;
      content: url('~/images/services3_clock.svg');
    }
  }

  &__item-title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 0.92;

    &::before {
      display: block;
      margin-bottom: 80px;
      padding-top: 8px;
    }
  }

  &__item-text {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 900px) {
  .services-section {
    &__title {
      margin-top: 200px;
      margin-bottom: -26px;
      margin-left: 93px;

      &::before {
        top: -190px;
        left: -260px;
        width: 288px;
        height: 288px;
        opacity: 0.7;
        filter: blur(150px);
      }
    }

    &__decorative-line {
      top: min(34px, calc(11px + (34 - 11) * (100vw - 900px) / 300));
      content: url('~/images/decorative_2services_desktop.svg');
    }

    &__services-list {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      margin: 0 30px;
    }

    &__item {
      display: grid;
      grid-template-rows: 224px max-content;
      padding: 26px;
      backdrop-filter: blur(24px);

      &:first-child {
        backdrop-filter: none;
      }
    }

    &__item-title {
      margin-bottom: 24px;

      &::before {
        margin-bottom: 122px;
        padding-top: 11px;
      }
    }
  }

  .section__title {
    font-size: min(128px, calc(81px + 47 * (42vw - 360px) / 195));

    /* calculated in Contacts section.
      Formula from: https://www.smashingmagazine.com/2016/05/fluid-typography/ */
  }
}
