.section-about {
  margin-top: 64px;

  &__inner {
    position: relative;
  }

  &__image {
    position: relative;
    display: block;
    min-height: 160px;
    margin: 0 16px 24px;
    background: url('~/images/bkgr_marketing.jpg') #112b45 no-repeat center;
    background-size: cover;
    border-radius: 300px;

    &::before,
    &::after {
      position: absolute;
      top: -8px;
      left: 2.5%;
      z-index: -1;
      display: block;
      width: 95%;
      min-height: 128px;
      background: linear-gradient(267.74deg, #315bef 3.51%, #66dd8d 98.41%);
      background-size: cover;
      border-radius: 220px;
      filter: blur(16px);
      content: '';
    }
  }

  &__decorative-line {
    position: absolute;
    top: -40px;
    right: 0;
    content: url('~/images/decorative_1about_mobile.svg');
  }

  &__text-container {
    margin: 0 16px;
  }

  &__title {
    max-width: 22ch;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 0.9;
  }

  &__text {
    position: relative;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 900px) {
    margin-top: 120px;

    &__image {
      position: relative;
      min-height: 362px;
      margin: 0 30px -24px;
      border-radius: 220px;

      &::before,
      &::after {
        top: -11px;
        min-height: 281px;
        filter: blur(32px);
      }

      //the below Supports rule checks for CSS Houdini-supported browsers where animation works

      @supports (background: paint(id)) {
        &::before,
        &::after {
          background: linear-gradient(
            var(--angle-rotate),
            #315bef 3.51%,
            #66dd8d 98.41%
          );
          animation: spin 2s linear infinite;
        }
      }
    }

    &__decorative-line {
      top: 297px;
      right: 29px;
      z-index: -6;
      content: url('~/images/decorative_1about_desktop.svg');
    }

    &__text-container {
      margin-right: auto;
      margin-left: 124px;
    }

    &__title {
      position: relative;
      z-index: 3;
      margin-top: 0;
      margin-bottom: 24px;
      font-size: 64px;
    }

    &__text {
      display: block;
      max-width: min(35vw, 423px);
      margin-bottom: 32px;
    }
  }
}
