.contacts-section {
  &__inner {
    padding: 0 16px;
  }

  &__info-wrapper {
    position: relative;
  }

  &__title {
    margin-top: 58px;
    opacity: 0;
  }

  &__link {
    display: block;
    padding-bottom: 13px;
    font-size: 24px;
    line-height: 0.92;
    text-align: center;

    &:last-child {
      padding-bottom: 24px;
    }
  }
}

@media screen and (min-width: 900px) {
  .contact-info-wrapper,
  .request-form {
    margin-top: 200px;
  }

  .contacts-section {
    &__inner {
      display: grid;
      grid-template-columns: 0.8fr 1fr;
      gap: min(30px, calc(9px + 21 * (100vw - 890px) / 310));
      padding: 0 30px;
    }

    &__title {
      margin-top: 362px;
      margin-bottom: 64px;
      opacity: 1;
    }

    &__link {
      padding-bottom: 32px;
      font-size: min(64px, calc(40px + 24 * (42vw - 360px) / 195));

      /* calc(40px + (64-40) * (42vw - 360px) / (555 - 360)); */
      line-height: 0.92;
      text-align: left;
    }
  }
}
