@media screen and (min-width: 900px) {
  /* Only CSS Houdini - supported browsers */

  @property --angle-rotate {
    syntax: '<angle>';
    initial-value: 268deg;
    inherits: false;
  }

  @keyframes spin {
    from {
      --angle-rotate: 0deg;
    }

    to {
      --angle-rotate: 360deg;
    }
  }
}
