html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding: 4rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
picture,
video {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0 auto;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  font-family: Oxygen, Tahoma, sans-serif;
  font-style: normal;
  line-height: 1.25;
  background-color: #112b45;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nobullet {
  margin: 0;
  padding: 0;
  list-style: none;
}

.notextdecoration {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

.visually-hidden,
.desktop-only {
  display: none;
}

.accent-color {
  color: #66dd8d;
}

h1,
h2,
strong,
legend,
.accent-font {
  font-weight: 600;
  font-family: Poppins, Verdana, sans-serif;
  font-style: normal;
  letter-spacing: -0.06em;
}

.slim-font,
.legal-link {
  font-weight: 400;
  font-family: Manrope, Arial, sans-serif;
  font-style: normal;
}

strong {
  display: block;
}

.section-header {
  font-size: 48px;
}

@media screen and (min-width: 900px) {
  .mobile-only,
  .flyout-only {
    display: none;
  }

  h2,
  strong,
  legend,
  .accent-font {
    font-weight: 700;
  }

  .section-header {
    font-size: min(128px, calc(81px + 47 * (42vw - 360px) / 195));
    line-height: 0.9;

    /* This is the fluid header for the sections with a large-font header
      calc(81px + (128-81) * (42vw - 360px) / (555 - 360));
      81px: min font size at body width 900, column w 360
      128px: max font size at body width 1200, column w 555
      360px: min text box size
      555px: max text box size
      Formula from: https://www.smashingmagazine.com/2016/05/fluid-typography/ */
  }
}
